*
!*/
!.gitignore

# whitelist NO-L20240119100338381
!kmath/literature-notes/top-level-view-of-computer-function-and-interconnection.NO-L20240119100338381.md
!quick-notes/assembly-dos-interrupts.NO-Q20240218234754772.md